nav.nav {
  background: #167740;
  @apply text-white md:w-screen py-4 px-8;

  ul {
    @apply md:flex justify-evenly;
    li {
      @apply md:py-3 px-0;
      a {
        @apply w-full h-full md:py-3 px-7;
        border-radius: 50px;
        background: linear-gradient(145deg, #146b3a, #187f44);
        box-shadow:  5px 5px 15px #136536,
                    -5px -5px 15px #19894a;
      }
    }
  }
}
