.home {
  button,
  a {
    background-color: #1fa057;
    @apply text-white py-1 px-2 rounded-md;
    box-shadow: #e1e14ad3 -5px 5px;
  }

  .figurita {
    background-color: #1b8a4b;
    width: 4px;
    height: 100px;
    position: relative;
    margin-top: -50px;

    &:after {
      content: "";
      display: block;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      margin-left: -3px;
      background: #26c269;
      position: absolute;
      bottom: 0;
    }
  }
}

.main {
  @apply flex flex-col h-screen w-full overflow-hidden;
  background-color: #167740;
  color: white;
  position: relative;

  .header {
    a {
      @apply text-white mr-3 p-1 rounded-md border-2 border-green-400;
    }
  }
}
