$background: #021109;
$primary: #0a3d20;
$secondary: #116134;
$tertiary: #167740;
$quaternary: #1c9d54;
$quinary: #21c267;

.home {
  button,
  a {
    background-color: $tertiary;
    @apply text-white py-1 px-2 rounded-md;
    box-shadow: #e1e14ad3 -5px 5px;
  }

  .figurita {
    background-color: #1b8a4b;
    width: 4px;
    height: 100px;
    position: relative;
    margin-top: -50px;

    &:after {
      content: "";
      display: block;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      margin-left: -3px;
      background: #26c269;
      position: absolute;
      bottom: 0;
    }
  }
}

.main {
  @apply flex flex-col h-screen w-full overflow-hidden;
  background-color: $background;
  color: white;
  position: relative;

  .header {
    background: url("../assets/images/home/circuit-header.svg");
    background-repeat: no-repeat;

    h1 {
      @apply text-xl;
    }

    h2 {
      @apply text-lg;
      color: $secondary;
    }

    a {
      @apply text-white mr-3 px-2 py-1 rounded-md border-2;
      background-color: transparent;
    }
  }
}

.footer {
}
