@import 'variables.scss';

.home {
  button,
  a {
    background-color: $tertiary;
    @apply text-white py-1 px-2 rounded-md;
    border: 2px solid $quaternary;
    // box-shadow: #e1e14ad3 -5px 5px;
    transition: all .3s ease-in-out;
    &:hover{
      box-shadow: #e1e14ad3 0 3px;
    }
  }
}

.main {
  @apply flex flex-col h-screen w-full overflow-hidden;
  background-color: $background;
  color: white;
  position: relative;

  .header {
    background: url("../assets/images/home/circuit-header.svg");
    background-repeat: no-repeat;
    background-size: contain;

    h1 {
      @apply text-xl;
    }

    h2 {
      @apply text-lg;
      color: $secondary;
    }

    a {
      @apply text-white mr-3 px-2 py-1 rounded-md border-2;
      background-color: transparent;
      border-color: $secondary;
    }
  }

  .image {
    position: absolute;
    top: 0;
    z-index: 2;
    left: 50%;
  }

  .circuit {
    position: absolute;
    top: 60px;
    z-index: 1;
    background-image: url("../assets/images/home/circuit-hero.svg");
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: contain;
  }

  img {
    z-index: 2;
  }
}

.footer {
}
