.main {
  @apply flex flex-col h-screen w-screen;
  background-color: #167740;
  color: white;
  position: relative;

  h1 {
    @apply text-3xl text-center my-10;
  }

  .content {
    @apply flex h-full w-full mt-5;
  }

  .link_list {
    @apply flex flex-col justify-evenly items-center w-1/2 mb-16;

    & a:nth-child(even) {
      @apply mr-3 ml-0;
    }

    & a:nth-child(odd) {
      @apply ml-3 mr-0;
    }
  }

  img.profile {
    @apply w-1/2;
    border-radius: 6rem 0 0 0;
    object-fit: cover;
  }

  a {
    border-radius: 50px;
    background: linear-gradient(145deg, #146b3a, #187f44);
    box-shadow:  20px 20px 60px #136536,
                -20px -20px 60px #19894a;
    padding: .3em .8em;
    min-width: 7rem;
    text-align: center;
  }

  .ocean { 
    height: 0;
    width:100%;
    position:absolute;
    bottom:-10px;
    left:0;
    // background: #167740;
  }
  
  .wave {
    background: url(/wave.svg) repeat-x;
    position: absolute;
    top: -130px;
    width: 6400px;
    height: 130px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  
    &:nth-of-type(2) {
      top: -175px;
      animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
      opacity: 1;
    }
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }
}
